@font-face {
  font-family: 'WAGURITTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'YClover-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.App {
  text-align: center;
  background-color: #11bbea;
  font-family: 'WAGURITTF';
}

.my_photo {
  height: 60vmin;
  pointer-events: none;
  border: 3rem solid;
  border-radius: 6%;
  border-style: double;
  border-color: #495e6b;
}

.photo {
  height: 38vmin;
  border-radius: 9%;
  pointer-events: none;
}

.title {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'YClover-Bold';
}

.subtext {
  font-size: 28px;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  color: #e4fdaf;
  padding-top: 80px;
  padding-bottom: 100px;
}

.content {
  min-height: 50vh;
  background-color:#11bbea;
  color: #e4fdaf;
  display: grid;
  grid-template-rows: auto auto;
  padding-top: 100px;
  padding-bottom: 120px;
}

.content_detail {
  padding-top: 70px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.end {
  min-height: 50vh;
  background-color: #11bbea;
  color: #e4fdaf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 330px;
}


.intro {
  padding: 1rem;
  align-items: center;
}


.logo {
  height: 30px;
  padding-bottom: 2px;
  padding-right: 10px;
}
